.card {
    display: inline-block;
    /* text-indent: -9999px; */
    text-align: center;
    width: 6em;
    height: 4em;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 2em;
    font-style: bold;
    user-select: none;
 }

 .activeCard {
     color: black;
     background: gainsboro;
     font-size: 40px;
 }

 .rightAns {
     color: green;
     background: greenyellow;
     font-size: 40px;
 }

 .blank{
     color: white;
     background: white;
 }

 h1{ 
    text-align: center;
    font-size: 100px;
 }